/* Inter,
-apple-system,
Framedcn,
Helvetica Neu   e,
Condensed,
DisplayRegular,
Helvetica,
Arial,
PingFang SC,
Hiragino Sans GB,
WenQuanYi Micro Hei,
Microsoft Yahei,sans-serif  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "apple";
    /* src: url(assets/fonts/SF-Pro-Display-Regular.otf); */
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

body {
    font-family: "apple";
    /* background-color: #1a1c20; */
    background-color: #24262B;
}


.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

header {
    /* background-color: #080808; */
    width: 100%;
    /* height: 100vh; */
}

nav p {
    color: #98A7B5;
    margin: 0.8em 0;
}

nav p:hover {
    color: #fff;
    /* border: 1px solid #98A7B5; */
    margin: 0.8em 0;
}

.container {
    /* background-color: #1a1c20; */
    /* background-color: #1C1E22; */
    padding: 0px 10%;
}

/* .container{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .swiper{
    width: 80%;
    height: fit-content ;
} */

/* .swiper-slide img{
    width: 24.5%;
} */
.row {
    display: flex;
    background-color: #1C1E22;
    /* flex-wrap: wrap; */
}

.ml-a {
    margin: 0 auto;
}

.pd-a {
    padding: 0 40px;
}

.col-50 {
    flex-basis: 50%;
}

nav {
    background-color: #24262B;
    display: flex;
    /* vertical-align: middle; */
    height: 60px;
    flex-wrap: wrap;
}

nav .nav-left {
    margin: 0 25px;
    display: flex;
    flex-wrap: wrap;
}

nav .casino {
    display: flex;
    align-items: center;
    margin: 0 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.justify-content {
    justify-content: space-between;
}

nav .nav-img {
    width: 45px;
    padding-right: 10px;
    padding-left: 10px;
}

.casino .fa-solid {
    font-weight: 900;
    color: #3bc117;
    padding-right: 10px;
    padding-left: 4px;
}

.sign-login a {
    padding: 10px 25px;
    color: #98A7B5;
    line-height: 53px;
}

.sign-login a:hover {
    padding: 10px 25px;
    color: #fff;
    line-height: 53px;
}

.sign-login .login {
    background-color: #3bc117;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.sign-login .cmt .fa-solid {
    font-size: 18px;
    margin: 0 20px;
}


.header-txt {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-txt p {
    line-height: 50px;
    color: #fff;
    font-size: 46px;
}

.header-txt span {
    color: #3bc117;
    font-weight: 700;
    font-family: sans-serif;
}

.connect {
    display: flex;
    flex-wrap: wrap;
}

.direct-login {
    margin-top: 30px;
    margin-bottom: 30px;
}

.direct-login .sign-up {
    background-color: #5617cb;
    color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    margin: 20px 10px;
    font-size: 18px;
}

.other-login {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.other-login p {
    font-size: 1em;
    letter-spacing: 1px;
    color: #98A7B5;
}

.other-group a {
    padding: 0 3px;
}

.other-group img {
    height: 28px;
    width: 28px;
}

.header-img img {
    width: 110%;
    height: 100%;
}

#slider {
    z-index: 1000;
}

.swiper {
    width: 80%;
    height: fit-content;
}


.swiper-slide img {
    width: 24.5%;
}

.sec-2 {
    margin: 30px 0;
}

.sec-2 img {
    width: 100%;
}

.sec-2-casino {
    margin: 10px 10px;
}


.sec-2-sports {
    margin: 10px 10px;
}

.sec-2-txt {
    margin: 30px 20px;
    /* padding: 40px; */
}

.sec-2-txt button {
    width: 540px;
    cursor: pointer;
    padding: 15px 40px;
    background-color: #5617cb;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}

.sec-2-sports button {
    width: 540px;
    cursor: pointer;
    padding: 15px 40px;
    background-color: #3bc117;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}

.sec-3 {
    background-color: #1C1E22;
}

.sec-3-pay {
    margin: 20px 20px;
    padding: 20px 30px;
}

.sec-3-pay {
    /* margin: 60px 0px; */
    padding: 20px 70px;
    justify-content: center;
}

.pay-top-list img {
    width: 100px;
}

.pay-top-list {
    margin-top: 30px;
}

.pay-bot-list {
    margin: 20px auto;
    width: 80%;
}

.pay-bot-list img {
    width: 100px;
}

.pay-txt {
    margin: 40px 20px;
    padding: 40px 20px;
}

.pay-txt p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
}

.pay-txt span {
    color: darkgoldenrod;
}

.pay-cryp .sign-up {
    background-color: #5617cb;
    color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    margin: 50px 0px;
    font-size: 18px;
}

.pay-cryp {
    margin-top: 70px;
    margin-bottom: 30px;
}